*{
    box-sizing: border-box;
}

body{
    margin: 0%;
    padding: 0%;
    background: yellow;
    background-position: center;
}
@font-face {
    font-family: sexo;
    src: url(../tipografia/RockSalt-Regular.ttf);
}
.titu{
    margin-top: 2%;
    color: red;
    text-align: center;
    font-size: 5rem;
    font-family: sexo;
  
}
.boton{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.des{
    margin-top: 2%;
    font: 10rem;
}

.vid{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.ima{
    display: flex;
    justify-content: center;
}
.but{
    background-color: red;
    justify-content: center;
}



